.nav-item {
  cursor: pointer;
}
.fix {
  position: fixed;
  top: 0;

  background: linear-gradient(
    to right,
    rgba(56, 7, 233, 0.925),
    rgba(240, 9, 190, 0.911)
  );
}
.nav-link {
  color: rgb(19, 20, 19) !important;
  font-size: 1.3rem;
  font-weight: bold;
}

.active {
  border-bottom: 2px solid rgb(4, 245, 64);
  filter: drop-shadow(1px 5px 10px);
}
